<html>
	<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
  </head>

<h1>Create a user profile</h1>

<p>
	<%= form_for @user do |f| %>
	<br>
	<%= f.label :name, "Username" %>
	<br>
	<%= f.text_field :name %>

	<%= f.label :bio, "Short Bio" %>
	<br>
	<%= f.text_field :bio %>

	<%= f.label :email, "Email Address" %>
	<br>
	<%= f.text_field :email %>

	<%= f.label :twitter, "Twitter" %>
	<br>
	<%= f.text_field :twitter %>

	<%= f.label :website, "Website" %>
	<br>
	<%= f.text_field :website %>

	<%= f.submit "Submit" %>
</p>
<% end %>

</html>
