<html>
	<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
  </head>

<body style='padding: 60px;'>

  <div class='navbar navbar-inverse navbar-fixed-top'>
    <div class='navbar-inner'>
    <div class = 'container'>
      <%= link_to "Jayne Jang Belz", root_path, class: 'brand' %>
        <ul class='nav'>
          <li><%= link_to "Home", root_url %></li> 
          <li><%= link_to "Blog", posts_path %></li>
          <li><a href="#">About</a></li>
          <li><%= link_to "Users", users_path %></li>
          <li><%= link_to "Log In", users_path %></li>
          <li><%= link_to "Register", new_user_path %></li>
        </ul>
    </div>
    </div>
  </div>

<h1>Create a user profile</h1>

<p>
	<%= form_for @user do |f| %>
	<br>
	<%= f.label :name, "Username" %>
	<br>
	<%= f.text_field :name %>

	<%= f.label :bio, "Short Bio" %>
	<br>
	<%= f.text_field :bio %>

	<%= f.label :email, "Email Address" %>
	<br>
	<%= f.text_field :email %>

	<%= f.label :twitter, "Twitter" %>
	<br>
	<%= f.text_field :twitter %>

	<%= f.label :website, "Website" %>
	<br>
	<%= f.text_field :website %>

	<%= f.submit "Submit" %>
</p>
<% end %>

</body>
</html>
