<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
  </head>

<h1><i class="icon-user"></i> User Profile</h1>
<p><%=link_to 'Return to all users', users_path %></p>
<hr />
<h2>Basic Info</h2>
<p><strong>Name:</strong> <%= @user.name %></p>
<p><strong>Email:</strong> <%= @user.email %></p>
<p><strong>Twitter:</strong> <%= @user.twitter %></p>
<p><strong>Website:</strong> <%= @user.website %></p>

<hr />
<h2>Posts by <%= @user.name %></h2>
<% @user.posts.each do |post| %>
    <p><%= link_to post.title, post_path(post) %></p>

<hr />


<% end %>

</html>