<html>
<body style='padding: 60px;'>

  <div class='navbar navbar-inverse navbar-fixed-top'>
    <div class='navbar-inner'>
    <div class = 'container'>
      <a class='brand' href='#'>Jayne Jang Belz</a>
        <ul class='nav'>
          <li style='font-size: 120%'><%= link_to "Home", root_url %></li> 
          <li style='font-size: 120%'><%= link_to "Blog", posts_path %></li>
          <li style='font-size: 120%'><a href="#">About</a></li>
          <li style='font-size: 120%'><%= link_to "Users", users_path %></li>
          <li style='font-size: 120%'><%= link_to "Log In", users_path %></li>
          <li style='font-size: 120%'><%= link_to "Register", new_user_path %></li>
        </ul>
    </div>
    </div>
  </div>

  <header>
    <div class='hero-unit'>
      <h1>Jayne's Site</h1>
        <p>Welcome to my site. Learn more about me and see this sample blog here.</p>
          <p>
            <a class='btn btn-primary btn-large'>Read Posts</a>
          </p>  
    </div>
  </header>

<br/>
<br/>
<div class='row'>
  <div class='span3 offset4'><img src='http://placehold.it/400x400' class='img-circle' alt=''><h2>Sample Text</h2></div>
  <div class='span3 offset6'><img src='http://placehold.it/400x400' class='img-circle' alt=''><h2>Sample Text</h2></div>
</div>
<br/>
<br/>
  <p class='text-center'>
  <ul class='thumbnails'>
  <li class='span4'>
    <div class='thumbnail'>
      <img src="http://placehold.it/300x200" alt=''>
      <h3>Writing</h3>
      <p>See writing samples here...</p>
    </div>
  </li>
  <li class='span4'>
    <div class='thumbnail'>
      <img src="http://placehold.it/300x200" alt=''>
      <h3>Editing</h3>
      <p>See editing information here...</p>
     </div>
   </li>
   <li class='span4'>
    <div class='thumbnail'>
      <img src="http://placehold.it/300x200" alt=''>
      <h3>Writing</h3>
      <p>See writing samples here...</p>
    </div>
  </li>
  <li class='span4'>
    <div class='thumbnail'>
      <img src="http://placehold.it/300x200" alt=''>
      <h3>Writing</h3>
      <p>See writing samples here...</p>
    </div>
  </li>
  </ul>
  </p>

  
</body>
</html>
  
