<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
  </head>

<body style='padding: 60px;'>

  <div class='navbar navbar-inverse navbar-fixed-top'>
    <div class='navbar-inner'>
    <div class = 'container'>
     <%= link_to "Jayne Jang Belz", root_path, class: 'brand' %>
        <ul class='nav'>
          <li><%= link_to "Home", root_url %></li> 
          <li><%= link_to "Blog", posts_path %></li>
          <li><a href="#">About</a></li>
          <li><%= link_to "Users", users_path %></li>
          <li><%= link_to "Log In", users_path %></li>
          <li><%= link_to "Register", new_user_path %></li>
        </ul>
    </div>
    </div>
  </div>

  <header>
    <div class='hero-unit'>
      <h1>Jayne's Site</h1>
        <p>Welcome to my site. Learn more about me and see this sample blog here.</p>
          <p>
            <a class='btn btn-primary btn-large'>Read Posts</a>
          </p>  
    </div>
  </header>

<br/>
<br/>
<div class='row'>
  <div class='span3 offset2'><img src='http://placehold.it/400x400' class='img-circle' alt=''><h2>Sample Text</h2></div>
  <div class='span3 offset5'><img src='http://placehold.it/400x400' class='img-circle' alt=''><h2>Sample Text</h2></div>
</div>
<br/>
<br/>
  <p class='text-center'>
  <ul class='thumbnails'>
  <li class='span4'>
    <div class='thumbnail'>
      <img src="http://placehold.it/300x200" alt=''>
      <h3>Writing</h3>
      <p>See writing samples here...</p>
    </div>
  </li>
  <li class='span4'>
    <div class='thumbnail'>
      <img src="http://placehold.it/300x200" alt=''>
      <h3>Editing</h3>
      <p>See editing information here...</p>
     </div>
   </li>
   <li class='span4'>
    <div class='thumbnail'>
      <img src="http://placehold.it/300x200" alt=''>
      <h3>Writing</h3>
      <p>See writing samples here...</p>
    </div>
  </li>
  <li class='span4'>
    <div class='thumbnail'>
      <img src="http://placehold.it/300x200" alt=''>
      <h3>Writing</h3>
      <p>See writing samples here...</p>
    </div>
  </li>
  </ul>
  </p>

  
</body>
</html>
  
