<html>
<body style='padding: 60px;'>

  <div class='navbar navbar-inverse navbar-fixed-top'>
    <div class='navbar-inner'>
    <div class = 'container'>
      <a class='brand' href='#'>Jayne Jang Belz</a>
        <ul class='nav'>
          <li style='font-size: 120%'><%= link_to "Home", root_url %></li> 	
          <li style='font-size: 120%'><%= link_to "Blog", posts_path %></li>
          <li style='font-size: 120%'><a href="#">About</a></li>
          <li style='font-size: 120%'><%= link_to "Users", users_path %></li>
          <li style='font-size: 120%'><%= link_to "Log In", users_path %></li>
          <li style='font-size: 120%'><%= link_to "Register", new_user_path %></li>
        </ul>
    </div>
    </div>
  </div>

  <h1><%= link_to "Blog", posts_path %></h1>

  <div class='btn-group pull-right'>
  	<button class='btn btn-large'><%= link_to 'Create New Post', new_post_path %></button>
  </div>

<% @posts.each do |post| %>
  <section id='post'>  	
  <h2><%= link_to post.title, post %></h2>
  <p><%= post.body %></p>
  <p>
  	<div class='btn-toolbar'>
  	<div class='btn-group'>
  		<button class='btn'><%= link_to 'Edit', edit_post_path(post) %></button>
  		<button class='btn'><%= link_to 'Back', posts_path %></button>
  		<button class='btn'><%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %></button>
  	</div>
  	</div>	
  </p>
</section>
<% end %>

<% @posts.each do |post| %>
  <div class="row-fluid">
    <div class="span8">
    <div class="hero-unit">
    	<article>
    	<h2><%= link_to post.title, post %></h2>
      		<p><%= post.body %></p>
    			<p>
  					<div class='btn-toolbar'>
  					<div class='btn-group'>
  						<button class='btn btn-small'><%= link_to 'Edit', edit_post_path(post) %></button>
  						<button class='btn btn-small'><%= link_to 'Back', posts_path %></button>
  						<button class='btn btn-small'><%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %></button>
  					</div>
  					</div>
  				</p>
  		
  	</div>
  	</div>
  </div>
<% end %>



</body>
</html>