<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
  </head>
  
<body style='padding: 60px;'>

  <div class='navbar navbar-inverse navbar-fixed-top'>
    <div class='navbar-inner'>
    <div class = 'container'>
      <%= link_to "Jayne Jang Belz", root_path, class: 'brand' %>
        <ul class='nav'>
          <li style='font-size: 120%'><%= link_to "Home", root_url %></li> 
          <li style='font-size: 120%'><%= link_to "Blog", posts_path %></li>
          <li style='font-size: 120%'><a href="#">About</a></li>
          <li style='font-size: 120%'><%= link_to "Users", users_path %></li>
          <li style='font-size: 120%'><%= link_to "Log In", users_path %></li>
          <li style='font-size: 120%'><%= link_to "Register", new_user_path %></li>
        </ul>
    </div>
    </div>
  </div>

<h1>Create New Post</h1>

<p>
  <%= form_for @post do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title, autocomplete: 'off', size: "30x10", placeholder: 'Title your post here...' %>
  <br>
  <%= f.label :body %>
  <%= f.text_area :body, autocomplete: 'off', size: "30x10", placeholder: 'Start writing your post here...' %>
  <br> 
  <%= f.submit "Create Post" %>
  
  <% end %>
</p>

</body>
</html>
