<p id="notice"><%= notice %></p>

<h1>Title:</h1>
  <%= @post.title %>
</p>

<p>
  <b>Body:</b>
  <%= @post.body %>
</p>

<p>
  <b>Create Date:</b>
</p> 

<h2>Comments</h2>
  <% @post.comments.each do |c| %>
    <p><%= @comment.body %></p>
    <p>Submitted at <%= Time.now %></p>
  <% end %>
  
  <%= form_for [@post, @post.comments.build] do |f| %>
    <p><%= f.label :body, "Insert comment below" %><br>
    <p><%= f.text_area :body %>
    <p><%= f.submit "Submit" %>
  <% end %>  

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %> |
<%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %></td>