<html>
<body style='padding: 60px;'>
<p id="notice"><%= notice %></p>

  <div class='navbar navbar-inverse navbar-fixed-top'>
    <div class='navbar-inner'>
    <div class='container'>
      <%= link_to "Jayne Jang Belz", root_path, class: 'brand' %>
        <ul class='nav'>
          <li style='font-size: 120%'><%= link_to "Home", root_url %></li>  
          <li style='font-size: 120%'><%= link_to "Blog", posts_path %></li>
          <li style='font-size: 120%'><a href="#">About</a></li>
          <li style='font-size: 120%'><%= link_to "Users", users_path %></li>
          <li style='font-size: 120%'><%= link_to "Log In", users_path %></li>
          <li style='font-size: 120%'><%= link_to "Register", new_user_path %></li>
        </ul>
    </div>
    </div>
  </div>

<h1><%= link_to "Blog", posts_path %></h1>

<section id='post'>
<h2><%= @post.title %></h2>
  <p><%= @post.body %></p>
  <br/>
  <p style='font-size: 80%; border-top: 1px solid #959595;'><em>Posted <%= time_ago_in_words(@post.created_at) %> ago</em></p>
</p> 

</section>

  <div class='row'>
  <div class='span12 offset1'>
  <div class='well'>
<div id='comments'>
<h2><i class='icon-comment'></i> Comments</h2>
  <% @post.comments.each do |c| %>
  <div id = 'individual_comment'>
    <p><%= c.body %></p>
    <p style = 'font-size: 80%;'><em>Submitted <%= time_ago_in_words(c.created_at) %> ago</em></p>
  </div>  
  <% end %>
  
  <%= form_for [@post, @post.comments.build] do |f| %>
    <h4><em><%= f.label :body, "Insert new comment" %></em></h4>
    <p><%= f.text_area :body %>
    <p><%= f.submit "Submit" %>
  <% end %>  
</div>
</div>
</div>
</div>

<h4>Admin:</h4>
  <p>
    <div class='btn-toolbar'>
    <div class='btn-group'>
      <button class='btn'><i class="icon-edit"></i> <%= link_to 'Edit', edit_post_path(@post) %></button>
      <button class='btn'><i class="icon-arrow-left"></i> <%= link_to 'Back', posts_path %></button>
      <button class='btn'><i class="icon-trash"></i> <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %></button>
    </div>
    </div>  
  </p>


</body>
</html>