<html>
<body style='padding: 60px;'>
<p id="notice"><%= notice %></p>

  <div class='navbar navbar-inverse navbar-fixed-top'>
    <div class='navbar-inner'>
    <div class = 'container'>
      <a class='brand' href='#'>Jayne Jang Belz</a>
        <ul class='nav'>
          <li style='font-size: 120%'><%= link_to "Home", root_url %></li>  
          <li style='font-size: 120%'><%= link_to "Blog", posts_path %></li>
          <li style='font-size: 120%'><a href="#">About</a></li>
          <li style='font-size: 120%'><%= link_to "Users", users_path %></li>
          <li style='font-size: 120%'><%= link_to "Log In", users_path %></li>
          <li style='font-size: 120%'><%= link_to "Register", new_user_path %></li>
        </ul>
    </div>
    </div>
  </div>

<h1><%= link_to "Blog", posts_path %></h1>

<section id = 'post'>
<h2><%= @post.title %></h2>
  <p><%= @post.body %></p>

  <p style='font-size: 80%; border-top: 1px solid #959595;'><em>Created at:</em></p>
</p> 

</section>

<div id = 'comments'>
<h2>Comments</h2>
  <% @post.comments.each do |c| %>
  <div id = 'individual_comment'>
    <p><%= c.body %></p>
    <p style = 'font-size: 80%;'><em>Submitted at <%= Time.now %></em></p>
  </div>  
  <% end %>
  
  <%= form_for [@post, @post.comments.build] do |f| %>
    <h4><em><%= f.label :body, "Insert new comment" %></em></h4>
    <p><%= f.text_area :body %>
    <p><%= f.submit "Submit" %>
  <% end %>  
</div>

<h4>Admin:</h4>
  <p>
    <div class='btn-toolbar'>
    <div class='btn-group'>
      <button class='btn'><%= link_to 'Edit', edit_post_path(@post) %></button>
      <button class='btn'><%= link_to 'Back', posts_path %></button>
      <button class='btn'><%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %></button>
    </div>
    </div>  
  </p>


</body>
</html>